html,
body{
	height: 100%;
}
header {
	background-size: cover;
	background-position: top center;
	height: 100%;
	position: fixed;
    top:0;
    left: 0;
}
container .navbar-header{
	margin-left: -30px;
}
#menuSuperior {

	box-shadow: 1px 10px 10px rgba(0,0,0,.3);
   -webkit-box-shadow: 1px 10px 10px rgba(0,0,0,.3);
   -moz-box-shadow: 1x 10px 10px rgba(0,0,0,.3);
}

#menuInferior{


	//display: flex;
	align-items: center;
  justify-content: space-between;
	width: 100%;
	margin-right: 5%;



	box-shadow: 5px -1px 5px rgba(0,0,0,.3);
   -webkit-box-shadow: 2px -5px 5px rgba(0,0,0,.3);
   -moz-box-shadow: 5px -2px 5px rgba(0,0,0,.3);
}
.paddingMenu{
	padding-left: 8%;
	padding-right: 0Px
}
.paddingCol-lg-4{
	padding-left: 4%;
}
.tamanhoContainer{
	height: auto;
	width: auto;
	max-width: -160px;
	max-height: 75px;
	margin-top: 250px;
}

#valor{
	font-size: 80%;
	padding-right: 0;
	padding-top: 1%;
}
#imgLogo{
		height: 100%;
		width: 100%;
		overflow:hidden;
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		//margin-left: 6px;
		//margin-top: 81px;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		border: 0px solid;
		background-image: url('../img/Logo1.jpg');
		resize: auto;
		opacity:0.4;
		filter:alpha(opacity=40);
		z-index: 0;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 72%;
}
@media (max-width: 445px){
		#valor{
			padding-top: 4%;
		}
		#valor.row{

			margin-left: -40px;
		}
}
@media (min-width: 450px){
		#valor{
			padding-top: 2%;
			//padding-left: 70%
		}

}
@media (min-width: 700px){
	/*.paddingMenu{
		padding-left: 1%;
	}*/
	#valor{
		padding-top: 1%;
		position: absolute;
		padding-left: 85%;
	}
	#btnVoltar{
		margin-left: 7%;
	}
	#imgLogo{
		background-image: url('../img/LogoBombeiros.png');

	}
}
@media(min-width:1000px){
	#valor{
		padding-left: 76%;
	}
	#menuInferior{
		text-align: center;
	}
}

@media(min-width:1100px){
	#menuInferior{
		text-align: inherit;
	}
}
@media (max-resolution: 1.5dppx){
	#imgLogo{
		background-image: url('../img/LogoBombeiros.png');

	}
}


footer{
    position: fixed;
    bottom:0;
    left: 0;
}

.panel{
	background-size: cover;
}

.reducaoImagemMenu{
	max-width:100px;
    max-height:15px;
    width: auto;
    height: auto;
	margin: 16% 0% 0% 86%;


}
.subTotal{
	background-position: center;
	align-self: center;
	color: black;
	text-align:center;

}

}
