html,
body{
	height: 100%;
	overflow-x: hidden;
}
.content-center {
	position: fixed !important;
	margin-top: -5em;
	margin-left: -1em;
	padding-right: 0% !important;
	padding-left: 0% !important;
	max-width: 100% !important;
	padding: 9px 10px;
 }

header {

	background-size: cover;
	background-position: top center;
	height: 100%;
	position: fixed;
    top:0;
    left: 0;
}
container .navbar-header{
	margin-left: -30px;
}
#menuSuperior {

	box-shadow: 1px 10px 10px rgba(0,0,0,.3);
   -webkit-box-shadow: 1px 10px 10px rgba(0,0,0,.3);
   -moz-box-shadow: 1x 10px 10px rgba(0,0,0,.3);
}

.alinharTraducao{
	display: inline-flex;
	align-items: center;

}

#menuInferior{


	//display: flex;
	align-items: center;
  justify-content: space-between;
	width: 100%;
	margin-right: 5%;



	box-shadow: 5px -1px 5px rgba(0,0,0,.3);
   -webkit-box-shadow: 2px -5px 5px rgba(0,0,0,.3);
   -moz-box-shadow: 5px -2px 5px rgba(0,0,0,.3);
}
.paddingMenu{
	padding-left: 2%;
	padding-right: 0px;
	margin-right: -32px;
}
.paddingCol-lg-4{
	padding-left: 4%;
}
.tamanhoContainer{
	height: auto;
	width: auto;
	max-width: -160px;
	max-height: 75px;
	margin-top: 250px;
}

#valor{
	font-size: 80%;
	padding-right: 0;
	padding-top: 1%;
}
#imgLogo{
		height: 100%;
		width: 100%;
		overflow:hidden;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		//margin-left: 6px;
		//margin-top: 81px;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		border: 0px solid;
		background-image: url('../img/Logo1.jpg');
		resize: auto;
		opacity:0.4;
		filter:alpha(opacity=40);
		z-index: 0;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 72%;
}
@media (min-width: 300px){
	.fixarFiltro {
	position: fixed;
	margin-left: -16px !important;
	width: 100%;
	margin-top: -2%;
	}
	.confFiltro {
    width: 84% !important;
    margin-top: -15% !important;
		margin-left: 0%;
	}
	.ajusteButtonTraducao{
		padding: 2px 2px !important;
		margin-top: -6px !important;
	}
}
@media (max-width: 312px){
	/*.col-xs-2{
		    width: 16.66666667% !important;
	}*/
}

@media (min-width: 250px) {
	.fixarFiltro {
			width: 96%;
			margin-left: -15.4px !important;
			margin-top: -2.7%;
	}
	.alinharTraducao{
			display: inline-flex;
			align-items: center;
			margin-left: 26px !important;
	}
	.confFiltro {
		width: 78% !important;
		margin-top: -20% !important;
		/*width: 85% !important;
		margin-top: -13% !important;*/
	}
	/*.itemAlinhar{
		margin-bottom: -10% !important;
	}*/
	.ajusteButtonTraducao{
		    padding: 2px 2px !important;
				margin-top: -6px !important;
	}
	.tituloView{
		 /*margin-left: 41% !important;*/
	}
}
@media(min-width: 263px){
	.confFiltro {
		width: 79% !important;
		margin-top: -19% !important;

	}
}
/*@media(min-width: 272px){
	.alinharTraducao{
		padding-left: 10% !important;
	}
}*/
@media(min-width: 285px){
	.confFiltro {
		width: 79% !important;
		margin-top: -18% !important;

	}
}
@media(max-width: 299px){
	.formatarTamanhoQtd{
		/*height: auto;*/
		font-size: 100% !important;
		/*font-size-adjust: 10.5;*/
	}
}
@media(min-width: 300px){
	.confFiltro {
		width: 80% !important;
		margin-top: -17% !important;

	}
}
@media(min-width: 310px){
	.confFiltro {
		width: 83% !important;
		margin-top: -16% !important;

	}
}
@media(min-width: 330px){
	.confFiltro {
		width: 84% !important;
		margin-top: -15% !important;

	}

}
@media (min-width: 370px){
	.confFiltro {
	    width: 85% !important;
	    margin-top: -13.3% !important;
			margin-left: 0%;
	}
	#btnVoltar.col-xs-6{
		width: 56%;
	}
}

@media(min-width: 410px){
	.confFiltro{
		margin-top: -11% !important;
	}
}

@media (min-width: 420px) {
	.fixarFiltro {
			margin-top: -9.4%;
	}

}
@media (max-width: 449px){
		#valor{
			padding-top: 4%;
		}
		#valor.row{

			margin-left: -40px;
		}
		/*.confFiltro{
			width: 84% !important;
			margin-top: -15% !important;
		}*/
		/*.col-xs-2 {
    	width: 25% !important;
		}*/
		.reducaoImagemMenu{
			display: flex;
	    padding: 5%;
	    height: 50%;
	    /*width: 100% !important;*/
	    /*margin-top: 70%;
	    margin-left: 100%;*/
		}
		.tituloView{
			margin-top: 4% !important;
		}
		.list-inline{
			margin-top: 4% !important;
			margin-left: 0% !important;
		}

}
/*@media(min-width: 446px){
	.alinharTraducao{
		margin-left: 25px !important;
		padding-left: 5% !important;
	}
}*/
@media (min-width: 500px){
	.fixarFiltro {
	position: fixed;
	margin-left: -15px !important;
	width: 82%;
	}
	.confFiltro{
		margin-top: -8% !important;

	}
	.descricaoMarginPedido{
		/*margin-bottom: -30px !important;*/
		margin-top: -8%;
	}

}

@media (min-width: 450px){
		#valor{
			padding-top: 2%;
			//padding-left: 70%
		}
		.ajusteButtonTraducao{
			 margin-top: 7px !important;
		}
		.confFiltro{
			width: 88% !important;
			margin-top: -6.3%;
			margin-left: -2.4%;
		}
		.reducaoImagemMenu{
			display: flex;
			padding: 59%;
			height: 100%;
			width: 150%;
			/*margin-top: 30%;
			margin-left: 200%*/
		}
		.alinharTraducao{
			margin-left: 25px !important;
		}

}
@media (min-width: 560px){
	.itemAlinhar{
			margin-bottom: -1% !important;
		}
	.ajusteButtonTraducao {
    padding: 8px 15px !important;
    margin-top: 0px !important;
	}
	.descricaoMarginPedido{
		/*margin-bottom: -30px !important;*/
		margin-top: -9%;
	}
}
@media(min-width:600px){
	.descricaoMarginPedido{
		/*margin-bottom: -30px !important;*/
		margin-top: -10%;
	}
}
@media (min-width: 640px){
	.confFiltro{
		margin-top: -7% !important;
	}
}
@media(min-width: 650px){
	.confFiltro{
	 margin-top: 0% !important;
	}
	.imgCardapio {
      margin-top: 7% !important;
	}
}
@media (min-width: 700px){
	/*.paddingMenu{
		padding-left: 1%;
	}*/
	#valor{
		padding-top: 1%;
		position: absolute;
		padding-left: 85%;
	}
	#btnVoltar{
		margin-left: 7%;
		padding: auto;
	}
	#imgLogo{
		background-image: url('../img/LogoBombeiros.png');

	}
	.confFiltro{
		width: 92% !important;
		/*margin-top: -6% !important;*/
    margin-top: -6% !important;
  }
	.reducaoImagemMenu{
		display: flex;
	    /*padding: 0%;
			height: 40%;
			width: 100%;
			margin-top: 80%;
	    margin-left: 1600%;*/
	}
	.alinharTraducao{
		margin-left: 23px !important;
	}
}
@media(min-width:768px){
	.reducaoImagemMenu{
		/*margin-top: 25% !important;
		margin-left: 150% !important;*/
		/*margin-top: -125% !important;
		margin-left: 1150% !important;*/
		padding: 33%;
	}
	/*.fixarFiltro{
		margin-top: -1.4%;
	}*/
	.container{
		width: 100% !important;
	}
	/*.tamanhoMenuCardapio{
		float: right;//comentar
		margin-top: -6% !important;
		display: list-item !important;
	}*/
	/*.collapse{
		margin-top: -10%;
		margin-left: 38% !important;
	}*/
	.confFiltro{
		margin-top: 1% !important;
		width: 40% !important;
	}
	.tituloView{
		margin-left: 0% !important;
		margin-top: 1.4% !important;
	}
	#btnVoltar.col-sm-3{
		width: 39%;

	}
	.imgCardapio {
      margin-top: 8% !important;
	}
	/*.alinharTraducao{
		padding-left: 44% !important;
	}*/
	/*.navbar-toggle {
    display: grid !important;
	}*/
	.layoutFiltro768{
		float: right;
    margin-top: 1em;
	}
	.tituloView2 {
    margin-top: 1em !important;
	}

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		/*margin-right: -15px !important;*/
		/*margin-left: -15px !important;*/
		float: none;
	}
	.navbar-toggle {
    display: grid !important;
	}
	.alinharMenuCardapio{
	margin-left: -1em;
	}
	/*.NoMenu{
		display: none ;

	}*/
	/*.collapse.in{
		display: block !important;
	}*/
	.AlinhaMenu{
		display: grid;
	}
}
@media(min-width: 800px){
	.imgCardapio {
			margin-top: 8% !important;
	}
	.itemAlinhar{
		padding-top: 2em !important;
	}
}
@media(min-width: 900px){
	.marginTopForm {
    margin-top: 5% !important;
	}

}
@media(min-width:1000px){
	#valor{
		padding-left: 76%;
	}
	/*#menuInferior{
		text-align: center;
	}*/
	.confFiltro{
		width: 37% !important;
		margin-top: 0.5% !important;
		margin-left: 3%;
	}
	.alinharTraducao{
		display: inline-flex;
		align-items: center;
	}
	.reducaoImagemMenu{
/*
		padding: 2% !important;
		height: 140% !important;
		/*width: 21% !important;*/
		/*margin-top: 24% !important;
		margin-left: 0% !important;*/
	}
	.fixarFiltro{
		margin-left: -15px !important;
	}
	.backgroundTitulo{
		padding-bottom: 1em !important;
	}
}

@media(min-width:1100px){
	/*#menuInferior{
		text-align: inherit;
	}*/
	.reducaoImagemMenu{
		margin-top: -20% !important;
		margin-left: 200% !important;
	}
	/*.reducaoImagemMenu{
		margin-top: 6% !important;
		margin-left: 80% !important;
	}*/
	.marginTopForm {
    margin-top: 3%;
	}
}
@media (min-width: 1200px){
	.reducaoImagemMenu{
		margin-top: 17% !important;
		margin-left: -25% !important;
		padding: 0% !important;
	}
	.fixarFiltro{
		margin-top: -1%;
		margin-left: -15px !important;

	}
	.collapse{
		margin-top: -10%;
		margin-left: 38% !important;
	}
	.tituloView{
		margin-left: -4% !important;
	}
}
@media (max-resolution: 1.5dppx){
	#imgLogo{
		background-image: url('../img/LogoBombeiros.png');

	}
}


footer{
    position: fixed;
    bottom:0;
    left: 0;
}

.panel{
	background-size: cover;
}
.alinha{
	display: flex;
	align-items: center;
}
/*.reducaoImagemMenu{
	display: flex;
    padding: 1%;
		height: 40%;
		width: 40%;
		margin-top: 30%;
    margin-left: 200%;
}*/
.subTotal{
	background-position: center;
	align-self: center;
	color: black;
	text-align:center;

}
#tirarLogo{
	z-index: auto;
	position: relative;

}
.limiteContainer{
	max-width: 80%;
	max-height: 80%;

}
.gridCardapio{
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 90%;
	text-align: center;
	/*margin-top: 10%;*/
	margin-left: 7%;
	flex-wrap: wrap;
}
.marginTopForm{
	margin-top: 8%;
}
.alinharCardapio{
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	background-color: lavender
	;
}
.alinharSeta{
	position: inherit !important;
	display: grid;
	align-content: center;
	margin-left: 0%;
	width: 114% !important;
	margin-right: -13.5%;
	text-align: center;
}
.alinharSeta2{
	position: inherit !important;
	display: grid;
	align-content: center;
	margin-left: 0%;
	width: 100% !important;
  padding-left: 0em !important;
	text-align: center;
}
.alinharContainerSeta{
	background-color: inherit;
	height: 100%;
	width: 100%;
	position: inherit !important;
	background-color: black;
	font-size: -webkit-xxx-large;
	position: inherit !important;
}
.setaContainer{
	background-color: inherit;
	height: 119%;
	width: 100%;
	position: inherit !important;
	background-color: black;
	font-size: -webkit-xxx-large;
	position: inherit !important;
	line-height: 3 !important;
}
.provisorio{
	/*margin-top: 10%;*/
	text-align: center;
	margin-top: 0%;
	padding-right: 0% !important;
}

/*.fixarJumbotron{
	position: fixed;

}*/
.provisorioimg {
	width: 30%;
	height: 30%
}
.fixarFiltro{
	position: fixed;
	margin-left: 59px;
	width: 100%;
}
.confFiltro{
	width: 85% ;
	margin-top: -8.4% ;
}
.painel-animado {

	 -moz-transition:transform 0.8s;
	 -webkit-transition:transform 0.8s;
	 -ms-transition:transform 0.8s;
	 -o-transition:transform 0.8s;
	 transition:transform 0.8s;
}
.painel-animado.ng-leave-active {
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}
.tratarMenuFiltro{
	display: flex;
	margin-top: -4%;
}
.centralizarImagemPedido{
	text-align: -webkit-center;
}
.bordaPedido{
	border: ridge;
}
.formularioDetalharCardapio{

	margin-left: 10%;
	position: inherit !important;
	align-items: center;
}
.alinhaSelectPedido{
	display: inline-flex;
}
.list-line{
	margin-left: 7px;
	margin-top: 4%;
}
.tituloView{
	margin-left: 41%;
  margin-top: -5%;
	/*color: floralwhite;*/
}
.imgCardapio{
	 max-width: 100%;
	 margin-top: 5%;
	 margin-bottom: -12px;
	 border-radius: 10px;
	 /*max-height: 180%;*/

}
.itemGridFormulario{
	display: inline-flex !important;
	align-items: flex-end;
	align-content: space-between;
	width: 100%;
	height: 100%;
	/*margin-left: -16px !important;
padding-right: 60px !important;*/
}
.itemGridFormulario2{
	display: inline-flex !important;
	/*align-items: flex-end;*/
	align-content: space-between;
	width: 100%;
	height: 100%;
	/*margin-left: -16px !important;
padding-right: 60px !important;*/
}
.itemGridGarcon{
	display: inline-flex !important;
	/*align-items: flex-end;*/
	align-content: space-between;
	width: 100%;
	height: 100%;
	/*margin-left: -16px !important;
padding-right: 60px !important;*/
}
.imgGarcon{
	width: 100%;
  height: 100%;
  display: inline-grid;
}
.tamanhoApresentacaoGarcon{
	width: 250%;
}
.regularBtnGarcon{
	 margin-top: -14em !important;
}
.escondeImgGarcaon{
	position: initial !important;
}


.ajustarRestricoes{
  margin-top: 17em;
  margin-left: -33em;
}
.list-group{
	position: inherit !important;

}
.layoutTituDescForm{
	text-align: left;
	font-size: 12px !important;
	margin-left: 7px;
	padding-right: 0px !important;
	box-shadow: 0 1px 2px rgba(0,0,0,0) !important;
	margin-top: 1em;
}
.descricaoCardapio{
	text-align: left;
	font-size: 10px;
	color: black;
	margin-top: -15px;
	margin-left: 7px !important;
}
.observacaoCardapio{
	font-size: 10px;
	padding-bottom: 15px;
	margin-top: -12px;
	text-transform: uppercase;
	color: red;
}
.descricaoMargin{
	margin-bottom: 0px !important;
	margin-top: -2%;
}
.backgroundTitulo{
	text-align: center;
	padding: 1%;
	text-transform: uppercase;
	background-color: #EF4;
}
.textUpper{
		margin-bottom: 1em;
		margin-top: 1em;
		font-size: 15px;
    /* height: 10%; */
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.textUpperTitulo{
	font-size: 12px;
	/*height: 10%;*/
	text-transform: uppercase;
	font-weight: bold;
}
.textCategoria{
	 max-height: 1px;
}
.itemAlinhar{
	padding-top: 1em;
	display: flex;
	color: black;
	width: 100%;
}
.configuracoesDetalhePedido{
	 margin-left: 1px !important;
	 width: 100% !important;
}
.tratarImgDetalhe{
	    /*margin-top: -55% !important;*/
			max-width: 277px !important;
}
.campoBlue{
	background-color: white;
	color: blue;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}
.paddingValorCardapio{
	padding-bottom: 18px;
}
.alinharMenuCardapio{
	border-color: transparent !important;
	float: left !important;
}
.controleLupa{
	margin-right: -0.6em !important;
	border: none !important;
	margin-bottom: 0em !important;
	margin-top: -2.5em !important;
	font-size: large;
	color: #888;
	background-color: transparent !important;
}
.tituloView2{
	margin-top: -2em ;
	margin-left: 33%;
}
.tituloViewPedido{
	margin-top: 0em ;
	margin-left: 36%;
}
.alinharInputFiltro{
	border: 0px !important;
	background-color: transparent !important;
	margin-left: 11% !important;
	width: 80% !important;
	margin-top: -3em;
	text-align: center;
}
.alinharInputPedidoTitulo{
	display: inline-flex;
	text-transform: uppercase;
	font-size: 17px;
}
.containerInputTitulo{
	margin-left: auto;
	margin-right: auto;
}
.alinharFooter{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.noBorder{
	box-shadow: 0 0px 0px rgba(0,0,0,.075) !important;
}
.calibrarPosicaoFecharConta{
	margin-left: -4% !important;
}
.limiteUrlDescricao{
	margin-bottom: 1em;
}
.ajustarBarraSuperiorPedidos{
	display: flex;
  /*align-items: center;*/
	margin-bottom: -2% !important;
}
.regularBtnVoltarPedido{
	margin-left: -0.7em;
	font-size: -webkit-xxx-large;
  color: black;
}
.definirTamanhoPedido{
	 margin-left: -0.4% !important;
	 width: 113% !important;
}
.definicaoTituloViewPedido{
	margin-bottom: 4.9em !important;
	    align-items: none;
}
.definirQuantidadePedido{
	display: flex;
	align-items: center;
	margin-left: -36em;
	margin-right: 27em;
	margin-bottom: 4em;
}
.regularAlturaImagemPedido{
	    margin-bottom: auto !important;
}
.tamanhoCampoPedido{
	width: 95%;
	height: 100%;
	font-size: x-large;
}
.tamanhoCampoQTD{
	min-width: 10%;
	max-width:35%;
	height: 35%;
	font-size: x-large;
}
/*.glyphicon-minus-sign{
	font-size: 23px;
}
.glyphicon-plus-sign{
	font-size: 23px;
}*/
.alinharDisplayPedido{
	display: table;
}
.progress {
    margin-left: 15px;
	}
	.btnFecharConta {
		position: initial !important;
		margin-left: 43%;
		margin-bottom: 10% !important;
	}
	.alinharTabelaFecharConta{
		margin-left: 0em !important;
	}
	.formatarTamanhoQtd{
		display: inline;
		/*width: 50%;*/
		align-items: center;
		font-size: 150% ;
		max-width: 100%;
		max-height: 100%;
		/*max-width: 50%;*/
	}
	.descricaoMarginPedido{
		margin-bottom: -30px !important;
		margin-top: -7%;
	}
	.tamanhoBtn{

		height: auto;
		font-size: 150%;
		font-size-adjust: 10.5;
	}


	.alinharBtnConfirmar{
		margin-left: 5%;
	}
	.ajusteImgPedido{
		padding-left: 3%;
	}
	/*.formatarTamanhoQtd.glyphicon{
		align-items: center;
		font-size: 200% ;
	}*/
/*.tamanhoRestricao{
	font-size: 30px;
}
.glyphicon-minus-sign{
	font-size: 50px;
}
.glyphicon-plus-sign{
	font-size: 50px;
}*/
.progresso{
	max-width: 100%;
	margin-top: 10em !important;
  margin-left: -48%;
	padding-bottom: 10%;
	/*background: #8bc53f;*/
	/*color: #8bc53f;*/
	/*background: #ECECEC;*/
}
}
