<!-- <div class="provisorio "> -->
<div class="container provisorio ">
  <!-- Filtro e MENU -->
  <div class="content-center col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- tirei o fixarFiltro -->
    <nav class="navbar navbar-default">
      <div class="container ajustarBarraSuperiorPedidos">
        <div class="">
          <a href="#"  ui-sref="cardapio" class="regularBtnVoltarPedido">
            <span class="glyphicon glyphicon-menu-left" ></span>
          </a>
        </div>
        <div id="tituloView" class="textUpper layoutFiltro768 tituloViewPedido col-xs-2 col-sm-2 col-md-2 col-lg-2" >
            <label >{{tituloPagina2 | translate}}</label>
        </div>

      </div>
    </nav>
  </div>
</div>


<div class="marginTopForm">
  <form name="formulario" class="row  painel-animado gridCardapio "  ng-repeat="item in acompanhamentos | orderBy: 'statusCod' " ng-init="calculaBarra(item)">
    <div class="definirTamanhoPedido alinharSeta  provisorio  col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <div class="descricaoMargin itemGridFormulario2 thumbnail  container-fluid painel-animado " ng-disabled="true" >
              <div class="regularAlturaImagemPedido form-group">
                <!-- <a href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a> -->
                <a target="_blank" href="{{item.url}}" title="{{item.titulo}}" rel="shadowbox">
                  <img class=" imgCardapio" src="{{item.url}}"/>
                </a>
                <!-- <div class="paddingValorCardapio">
                  <input class=" bordaPedido campoBlue" type="text" name="" maxlength="2" size="10" ng-disabled="true" value="{{detalharCardapio.valor | currency: 'R$ '}}">
                </div>
                <div class="observacaoCardapio">
                  <b>{{pedido.observacao}}</b>
                </div> -->
              </div>
              <div class="definicaoTituloViewPedido noBorder list-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="layoutTituDescForm form-group" >
                  <p class="textUpperTitulo">{{item.titulo}}</p>
                </div>
                <!-- <div class="form-group descricaoCardapio">
                  <p>{{pedido.descricao}}.</p>
                </div> -->
                <!-- <div class="form-group alinharDisplayPedido">
                  <textarea type="text" ng-disabled="true" maxlength="100" class="tamanhoCampoPedido bordaPedido campoBlue" size="30" >{{pedido.observacao}}</textarea>
                </div> -->
                <div>
                  <div>
                    <p>{{item.status}}</p>
                  </div>
                  <div class="progress" >

                      <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{item.evolucao}}%" >
                      <span class="sr-only">45% Complete</span>
                    </div>
                  </div>
                </div>
                <!-- <div class="alinharQuantidadePedido">
                  <input class="bordaPedido campoBlue" ng-disabled="true" type="text" ng-model="pedido.quantidade" maxlength="2" size="2" value="{{pedido.quantidade}}">
                </div> -->
              </div>
            </div>
    </div>
  </form>

</div>
