<!--Imagens do Cardapio Disponível-->
<div class="container provisorio ">
  <!-- Div responsável pelo menu collapsado e o filtro -->
  <div class=" fixarFiltro">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Pedidos</a> -->

        </div>
        <!-- Filtro para ser utilizado nos ng-repeat -->
          <input class="confFiltro form-control" placeholder="{{'label.filtroPlaced' | translate}}"  ng-model="filtro" ng-model-options="{ debounce: 500 }">
          <div id="collapse-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat-start="categoria in categorias | orderBy:'-categoria'">
              <a href="#{{categoria.tipo}}" ng-bind="categoria.tipo"></a>
            </li>
            <li ng-repeat-end></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="row ">
      <div class="col-md-12 "> -->
        <!-- <h3> Cardápio</h3> -->
        <!-- <form class="">
          <div class="tratarMenuFiltro "
          <span class="input-group-btn">
            <!-- <a href="#" class="" type="button">
              Menu
            </a> -->
          <!-- </span> -->
          <!-- <input class="form-control" placeholder="filtrar produto desejado." ng-model="filtro" ng-model-options="{ debounce: 500 }"> -->
        <!-- </div>
        </form>
    </div> <!-- fim. -->
  </div>
</div>
<!-- Form contendo a categoria, título, imagem, descrição e valor dos produtos/serviços  -->
  <form name="formulario" class="row painel-animado gridCardapio "  ng-repeat="categoria in categorias | orderBy:'-categoria'">
    <div class="alinharSeta  provisorio thumbnail col-xs-10 col-sm-10 col-md-10 col-lg-10" >
          <div class="form-group jumbotron">
            <h3 id="{{categoria.tipo}}" ng-bind="categoria.tipo" > {{categoria.tipo}} </h3>
          </div>
          <div class=" thumbnail  container-fluid painel-animado" style="display: inline-flex" ng-if="categoria.tipo == item.categoria " ng-repeat="item in cardapio | orderBy: '-item.titulo' | filter: filtro">
            <div class="form-group">
              <img class=" img-responsive"  width="50%" height="50%" align-items="center" max-width="200px" max-height="150px"  src="{{item.url}}">
            </div>
            <div class="form-group" >
              <h4 >{{item.titulo}}</h4>
            </div>
            <div class="form-group">
              <p>{{item.descricao}}.</p>
            </div>
            <div class="form-group">
              <a href="/home/pedido/{{cardapio.indexOf(item)}}">
                <div class="alinharContainerSeta">
                    <span class="glyphicon glyphicon-menu-right setaContainer" ></span>
                </div>
              </a>
            </div>

            </div>
          </div>
    </form>

</br>
</br>
