<!-- <div class="provisorio "> -->
<div class="marginTopForm">
  <form name="formulario" class="row  painel-animado gridCardapio configuracoesDetalhePedido " ng-submit="submeter()>
    <div class="alinharSeta  provisorio  col-xs-12 col-sm-10 col-md-10 col-lg-10" >
          <div class="descricaoMargin itemGridFormulario thumbnail  container-fluid painel-animado " ng-disabled="true" ng-model="detalharCardapio.descricao">
              <div class="form-group">
                <img class=" img-responsive imgCardapio tratarImgDetalhe"    src="{{detalharCardapio.url}}">
              </div>
              <div class=" layoutTituDescForm list-group col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <div class="form-group" >
                  <h4 class="textUpper">{{detalharCardapio.titulo}}</h4>
                </div>
                <div class=" form-group">
                  <p>{{detalharCardapio.descricao}}.</p>
                  <b>SERVE 3 PESSOAS</b>
                </div>
                <input class=" bordaPedido campoBlue" type="text" name="" maxlength="2" size="5" value="{{pedido.valor | currency: 'R$ '}}">
                <a href="#" ng-click="btnDiminuir()" > <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
                <input class="bordaPedido " type="text" ng-model="pedido.quantidade" maxlength="2" size="2" value="{{pedido.quantidade}}">
                <a href="#" ng-click="btnAumentar()" >
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
              </div>
          </div>
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="#" ng-click="goBack()" class="btn btn-primary">{{'label.voltar' | translate}}</a>
            <button ui-sref="acompanhamento" type="submit" class="btn btn-primary" >
              {{'label.enviar' | translate}}
            </button>
          </div>
    </div>
  </form>
</div>


<!-- </div> -->
