<div class="provisorio ">

<form  name="formularioDetalharCardapio" class=" " ng-submit="submeter()">
  	<div class="formularioDetalharCardapio col-xs-10 col-sm-10 col-md-10 col-lg-10">
  		<div class="list-group ">
  			<label>{{'label.titulo' | translate}}</label>
  			<input name="titulo" ng-disabled="true" class="" style="width: 80%;" ng-model="detalharCardapio.titulo">
  		</div>
  		<div class="form-group centralizarImagemPedido">
  			<!-- Imagem-->
  			<img class=" img-responsive thumbnail"  width="50%" height="50%" align-items="center"
         max-width="200px" max-height="150px"  src="{{detalharCardapio.url}}">
  		</div>
  		<div class="list-group">
  			<label>{{'label.descricao' | translate}}</label>
  			<textarea name="descricao" class="" style="width: 80%;"
         ng-disabled="true" ng-model="detalharCardapio.descricao">
  			</textarea>
  		</div>
  		<div class="list-group">
        <label ng-disabled="true" >{{'label.valor' | translate}}</label>
      </br>
        <input class=" bordaPedido" type="text" name=""  value="{{pedido.valor | currency: 'R$ '}}">
      </div>
      <div class="list-group">
        <label>{{'label.observacao' | translate}}</label>
      </br>
        <textarea class=" bordaPedido" type="text" name="" style="width: 80%;" ng-model="pedido.observacao" value="{{pedido.observacao}}" maxlength="100" size="50">
        </textarea>
      </div>
      <div class="list-group">
        <label>{{'label.quantidade' | translate}}</label>
        </br>
        <a href="#" ng-click="btnDiminuir()" > <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
              <input class="bordaPedido" type="text" ng-model="pedido.quantidade" maxlength="2" size="2" value="{{pedido.quantidade}}">
        <a href="#" ng-click="btnAumentar()" >
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>

      </div>
        <div class="form-group">
          <a href="#" ng-click="goBack()" class="btn btn-primary">{{'label.voltar' | translate}}</a>
    		<button ui-sref="acompanhamento" type="submit" class="btn btn-primary" >
    		   {{'label.enviar' | translate}}
    		</button>
        </br>
        </br>
        </br>
      </div>
      </br>
  	</div>
</form>

</div>
