<!-- <div class="provisorio "> -->
<div class="container provisorio ">
  <!-- Filtro e MENU -->
  <nav class="navbar navbar-default navbar-fixed-top content-center col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <div class="navbar navbar-default  navbar-fixed-top"><!-- tirei o fixarFiltro -->
        <div class="container ajustarBarraSuperiorPedidos">
          <div class="">
            <a href="#"  ui-sref="cardapio" class="regularBtnVoltarPedido">
              <span class="glyphicon glyphicon-menu-left" ></span>
            </a>
          </div>
          <div class="containerInputTitulo">
                <b class="row alinharInputPedidoTitulo">{{tituloPagina3 | translate}}</b>
          </div>
        </div>
    </div>
  </nav>
</div>


<div class=" marginTopFormFechar">
  <div class=" row alinharTabelaFecharConta"  >
	    <table class=" table table-striped">
	      <thead>
	        <tr>
	          <th class="corGeral"><strong>Produto</strong></th>
	          <!-- <th>Valor Unit.</th> -->
            <th><strong>Quantidade</strong></th>
            <!-- <th>Status</th> -->
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="zebrarLinhasForm" ng-repeat="item in acompanhamentos | orderBy: 'statusCod'">
	          <td>{{ item.titulo }}</td>
	          <!-- <td>{{ item.valor }}</td> -->
	          <td>{{ item.quantidade }}</td>
	          <!-- <td>{{ item.status }}</td> -->
	        </tr>
	      </tbody>
	    </table>
  </div>
  <div class="corGeral marginFecharContaObservacao">
    <div ><strong>Formas de Pagamento: </strong> <br/>
      <div class="container-fluid centralizarOpcaoPagamento">
        <div class="">
          <label >Dinheiro
              <input type="checkbox" ng-model="opcaoDinheiro">
          </label>
        </div>
        <div class="">
          <label >  Débito
            <input type="checkbox" ng-model="opcaoDebito">
          </label>
        </div>
        <div class="">
          <label > Crédito
            <input type="checkbox" ng-model="opcaoCredito">
          </label>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="marginFecharContaObservacao">
    <label>Caso queira, coloque suas observações:</label>
    <textarea type="text" maxlength="100" class="tamanhoCampoPedido bordaPedido campoBlue" size="30"
              ng-model="item.restricao" ></textarea>
  </div>
  <!-- <div>
    <label>Valor Total Estimado: </label>
    <input class="bordaPedido campoBlue" type="text" name="" maxlength="2" size="10"  value="{{somaVlrTotal | currency: 'R$ '}}">
  </br>
    <p>* Este valor é apenas uma prévia, pois existem cálculos e impostos ainda não adicionados a conta.</p>
  </div> -->

</br>
</br>
  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 btnFecharConta">
     <button ui-sref="home" type="submit" class="btn btn-primary" ng-click="fecharConta()" ng-bootbox-alert="<strong>Recebemos sua solicitação, aguarde nosso Garçom. Muito Obrigado!</strong>">
      {{'label.fecharConta' | translate}}
     </button>
  </div>
</div>
