<!-- <div class="provisorio "> -->
<div class="container provisorio ">
  <!-- Filtro e MENU -->
  <nav class="navbar navbar-default navbar-fixed-top content-center col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <div class="navbar navbar-default  navbar-fixed-top"><!-- tirei o fixarFiltro -->
        <div class="container ajustarBarraSuperiorPedidos">
          <div class="">
            <a href="#"  ui-sref="cardapio" class="regularBtnVoltarPedido">
              <span class="glyphicon glyphicon-menu-left" ></span>
            </a>
          </div>
          <div class="containerInputTitulo">
                <b class="row alinharInputPedidoTitulo">{{tituloPagina4 | translate}}</b>
          </div>
        </div>
    </div>
  </nav>
</div>


<div class="marginTopForm">
  <form name="formulario" class="row  painel-animado gridCardapio"   >
    <div class="definirTamanhoPedido alinharSeta   provisorio  col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <div class="zebrarLinhasFormOutr descricaoMargin itemGridGarcon   container-fluid painel-animado "
            ng-repeat="item in garcons | orderBy: 'nome' " ng-disabled="true" >
              <div class=" form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 escondeImgGarcaon">
                <a class="imgGarcon" target="_blank" href="{{item.foto}}" title="{{item.nome}}" rel="shadowbox">
                  <img class="imgCardapio " src="{{item.foto}}"/>
                </a>
              </div>
              <div class=" noBorder form-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="ajusteDireito">
                  <div class="layoutTituDescForm form-group" >
                    <p class="textUpperTitulo">{{item.nome}}</p>
                  </div>
                  <div class="form-group descricaoCardapio tamanhoApresentacaoGarcon">
                    <p>{{item.comentario}}</p>
                  </div>


                  <div class="row container">
                     <button  type="submit" class="btn btn-primary  btn-lg"
                           ng-click="alertarGarcom(item)">
                       <span class="glyphicon glyphicon-earphone"></span>
                     </button>

                  </div>
                </div>
              </div>
           </div>
    </div>
  </form>
</div>

</br >
</br >
