<div class="  " ng-init="validarRegistrarQrCode()">
  <!-- Filtro e MENU -->
    <div class="container-fluid "><!-- tirei o fixarFiltro -->
    <nav class="navbar navbar-default navbar-fixed-top ">
      <div class=" ajustarBarraSuperiorPedidos">
        <div class="">
          <a href="home"  class="regularBtnVoltarPedido">
            <span class="glyphicon glyphicon-menu-left" ></span>
          </a>
        </div>
        <div class="containerInputTitulo">
              <b class="row alinharInputPedidoTitulo">{{tituloPagina4 | translate}}</b>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- <div class="marginTopForm"> -->
  <form name="formulario" class="row  painel-animado"   >
    <div class="definirTamanhoPedido   " >
          <div class="zebrarLinhasFormOutr   container-fluid painel-animado "
            ng-repeat="item in garcons | orderBy: 'nome' " ng-disabled="true" >
            </br>
              <div class=" col-xs-4 col-sm-3 col-md-3 col-lg-3 escondeImgGarcaon">
                <a class="" target="_blank" href="{{item.foto}}" title="{{item.nome}}" rel="shadowbox">
                  <img class="img-responsive img-rounded" src="{{item.foto}}"/>
                </a> 
                 </br>
              </div>
              <div class=" noBorder col-xs-8 col-sm-9 col-md-9 col-lg-9">
                <div class="ajusteDireito">
                  <div class="layoutTituDescForm list-group" >
                    <p class="textUpperTitulo">{{item.nome}}</p>
                  </div>
                  <div class="descricaoCardapio tamanhoApresentacaoGarcon">
                    <p>{{item.comentario}}</p>
                  </div>
                  <div class="row  text-center  ">
                     <button  type="submit" class="btn btn-primary  btn-lg"
                           ng-click="solicitarLocalizacao(item.idGarcon, item.nome)">
                       <span class="glyphicon glyphicon-earphone "></span>
                     </button>

                  </div>
                </div>
              </div>
            
             </br>
           </div>
    </div>
             </br>
  </form>
<!-- </div> -->

</br >
</br >
