 <!-- <div class="provisorio "> -->
<div class="  ">
  <!-- Filtro e MENU -->
    <div class="container-fluid "><!-- tirei o fixarFiltro -->
    <nav class="navbar navbar-default navbar-fixed-top ">
      <div class=" ajustarBarraSuperiorPedidos">
        <div class="">
          <a href="#" ng-click="goBack()" class="regularBtnVoltarPedido">
            <span class="glyphicon glyphicon-menu-left" ></span>
          </a>
        </div>
        <div class="containerInputTitulo col-xs-5 col-sm-6 col-md-6 col-lg-6 text-center">
          <!-- <div id="tituloView" class="textUpper layoutFiltro768 " > -->
              <!-- <input ng-disabled="true" class="layoutFiltro768 alinharInputPedidoTitulo" > -->
              <b class="row alinharInputPedidoTitulo">{{tituloPagina | translate}}</b>
              <!-- </input> -->
          <!-- </div> -->
<!--
          <input  id="campoFiltroAtivo" class="layoutFiltro768 alinharInputFiltro form-control navbar-collapse"
                  placeholder="{{tituloPagina | translate}}"  > -->
        </div>
      </div>
    </nav>
  </div>
</div>


<div class="marginTopFormPedido container-fluid">
  <form  name="formulario" class="row  painel-animado" ng-action="acompanhamento" method="post" ng-submit="validarRegistrarQrCode()" >
    <div class="definirTamanhoPedido alinharSeta" >
          <div class="descricaoMarginPedido itemGridFormulario2    painel-animado " ng-disabled="true"
                    ng-model="detalharCardapio.descricao">
              <div class="regularAlturaImagemPedido col-xs-5 col-sm-4 col-md-4 col-lg-4  ">
                <div class="ajusteImgPedido">
                    <a target="_blank" href="{{detalharCardapio.foto}}" title="{{detalharCardapio.titulo}}" rel="shadowbox">
                      <img class="  img-responsive img-rounded" src="{{detalharCardapio.foto}}"/>
                    </a>
                  <div class="paddingValorCardapio">
                    <input ng-hide="detalharCardapio.TemSubProduto " class=" bordaPedido campoBlue" type="text" name="" maxlength="2" size="10" ng-disabled="true"
                    value="{{detalharCardapio.valorUnitario | currency: 'R$ '}}">

                    <input ng-show="detalharCardapio.TemSubProduto " class=" bordaPedido campoBlue" type="text" name="" maxlength="2" size="10" ng-disabled="true"
                    value="{{detalharCardapio.sub_valor | currency: 'R$ '}}">
                  </div>
                </div>
              </div>
              <div class="definicaoTituloViewPedido noBorder col-xs-7 col-sm-8 col-md-8 col-lg-8">
                <div class="layoutTituDescForm list-group" >
                  <p class="textUpperTitulo">{{detalharCardapio.titulo}}</p>
                </div>
                <div class="form-group descricaoCardapio">
                  <p>{{detalharCardapio.descricao}}.</p>
                  <p ng-if="detalharCardapio.sub_titulo != '' ">{{detalharCardapio.sub_titulo}}</p>
                </div>
                <br/>
                <div class="observacaoCardapio">
                  <div >
                    <b >{{detalharCardapio.observacao}}</b>
                  </div>
                  <div ng-if="detalharCardapio.tempo!= 0 || detalharCardapio.tempo != '' " ng-show="false">
                    </br>
                    <b>Preparo em {{detalharCardapio.tempoPreparo}} minutos.</b>
                  </div>
                </div>

              </div> 


            </div>
            <div class="alinhaPedidoQtdLocalizacao">
              <div class="container formatarTamanhoQtd col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="">
                  <a href="#" ng-click="btnDiminuir()" >
                    <span class="tamanhoBtn glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                  </a>
                    <input class="tamanhoCampoQTD tamanhoRestricao bordaPedido campoBlue" type="text" ng-model="detalharCardapio.quantidade" maxlength="2" size="2" value="{{detalharCardapio.quantidade}}"></input>
                  <a href="#" ng-click="btnAumentar()" >
                    <span class="tamanhoBtn glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
              <br/>
              <!--Seleção de Localização que é obrigatória-->
                  <!-- ng-options="localizacao.idLocalizacao as (localizacao.nomeLocalizacao | uppercase) for localizacao in localizacoes | orderBy: 'nomeLocalizacao'"  -->
              <div class="" layout="column" layout-align="center center" style="padding:10px">
                <md-select ng-model="detalharCardapio.idLocalizacao"   class="" 
                placeholder="Onde deve ser Entregue" style="min-width: 200px;" required>
                  <md-option ng-value="localizacao" ng-repeat="localizacao in localizacoes | orderBy: 'nomeLocalizacao'">{{localizacao.nomeLocalizacao}}</md-option>
                <!-- <option value="">Onde Será Entregue</option> -->
                </md-select>
                <span ng-show="formulario.$submitted && formulario.localizacao.$error.required" 
                  class="form-control alert-danger">
                  Necessário Informar onde será feito a Entrega do Pedido
                </span>
              </div>
            </div>
            <br/>
            <div class="">
              <label class="corGeral alinhaLabelObservacaoPedido">Caso queira, coloque suas observações:</label>
              <textarea type="text" maxlength="90" class="tamanhoCampoPedido bordaPedido campoBlue" size="30"         ng-model="detalharCardapio.restricao" ></textarea>
            </div>
          </br>
          </br>
               <!-- ng-bootbox-prompt-action="promptCallback(result)"  -->
               <!-- ng-bootbox-custom-dialog
               ng-bootbox-class-name="test-class"  -->
            <div class="alinharBtnConfirmar col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <button  type="submit" class="btn btn-primary"  
               ng-bootbox-title="Insira o QRCode!"
               ng-bootbox-custom-dialog-template="./parciais/qrCodeIdentificacao.html"
               ng-bootbox-buttons="customDialogButtons"
               > 
                {{'label.enviar' | translate}}
               </button>
               <!-- <span ng-bootbox-alert="{{mensagem}}"></span> -->

            </div>
    </div>
  </form>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>

