<div ng-controller="ChamarGarcomController">
<form name="formulario" ng-submit="validarRegistrarQrCode()">

    <div class="custom-select " >
       <select ng-model="garconChamado.idLocalizacao" class="bordaSelectLocalizacao"
          required data-live-search="true">
          <option value="" >Onde posso te encontrar? </option>
          <option ng-repeat="localizacao in localizacoes | orderBy: 'nomeLocalizacao'" value="{{localizacao.idLocalizacao}}">{{localizacao.nomeLocalizacao | uppercase}}</option>
       </select>
      <span ng-show="formulario.$submitted && formulario.localizacao.$error.required" 
        class="form-control alert-danger">
        Necessário Informar onde posso te localizar
      </span>
    </div>
       <br/>
    <button type="submit" class="btn btn-primary">
    		{{'label.enviar' | translate}}
    </button>
</form>

</div>