<div ng-controller="ChamarGarcomController">
<form name="formulario" ng-submit="validarRegistrarQrCode()">

   <div class="" layout="column" layout-align="center center" style="padding:10px">
      <md-select ng-model="garconChamado.idLocalizacao" 
      placeholder="Onde posso te encontrar?" style="min-width: 200px;" required>
        <md-option ng-value="localizacao" ng-repeat="localizacao in localizacoes | orderBy: 'nomeLocalizacao'">{{localizacao.nomeLocalizacao}}</md-option>
      </md-select>
      <span ng-show="formulario.$submitted && formulario.localizacao.$error.required" 
        class="form-control alert-danger">
        Necessário Informar onde posso te localizar
      </span>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">
    		{{'label.enviar' | translate}}
    </button>
</form>

</div>