 <div ng-controller="selectSubItem">
	<form ng-submit="continuaPedido()" >
		<div > 
 
            <md-radio-group ng-model="detalharCardapio.idPedidoServicoSub"  >

              <md-radio-button  class="zebrarLinhasFormSubItem " ng-repeat="subItens in novaPedidoServicoSub  | orderBy: 'sub_titulo'" ng-value="subItens.idPedidoServicoSub" ng-if="guardaItem.idProdutoServico == subItens.idProdutoServico" class="md-primary"  ng-class="{'md-align-top-left': $index==1}" required>
                <table class=" table table-condensed  ">
                    <tbody >
                      <tr class="col-xs-12 col-sm-12 ">
                        <td style="border-top: 0px">{{ subItens.sub_titulo }}</td>
                        <td style="border-top: 0px" class="text-right">{{ subItens.sub_valor | currency: 'R$ ' }}</td>
                      </tr>
                    </tbody>
                </table>
              </md-radio-button>
            </md-radio-group>
            
            <span ng-show="formulario.$submitted && formulario.subItem.$error.required" 
		        class="form-control alert-danger">
		        Necessário Informar o tamanho
		    </span>
        </div>  
        <br/>
        <button type="submit" class="btn btn-primary">
    		{{'label.enviar' | translate}}
    	</button>
    	<button ng-click="sair()" class="btn btn-info">
    		{{'label.voltar' | translate}}
    	</button>
	</form>
</div>