 <div ng-controller="selectSubItem">
	<form ng-submit="continuaPedido()" >
		<div >

            <md-radio-group ng-model="detalharCardapio.idPedidoServicoSub"  >

              <md-radio-button ng-repeat="subItens in novaPedidoServicoSub  | orderBy: 'sub_titulo'" ng-value="subItens.idPedidoServicoSub" ng-if="guardaItem.idProdutoServico == subItens.idProdutoServico" class="md-primary"  ng-class="{'md-align-top-left': $index==1}" required>{{subItens.sub_titulo}} - {{subItens.sub_valor | currency: 'R$ '}}</md-radio-button>

            </md-radio-group>
            
            <span ng-show="formulario.$submitted && formulario.subItem.$error.required" 
		        class="form-control alert-danger">
		        Necessário Informar o tamanho
		    </span>
        </div>  
        <br/>
        <button type="submit" class="btn btn-primary">
    		{{'label.enviar' | translate}}
    	</button>
    	<button ng-click="sair()" class="btn btn-info">
    		{{'label.voltar' | translate}}
    	</button>
	</form>
</div>